body {
    background-color: #2F2E2A;
    color: #f7df1e;

}

.navbar,
footer {
    background-color: #f7df1e;
    color: #2F2E2A;
}

button.btn {
    background-color: #2F2E2A;
    color: #f7df1e;
}

form input.form-control {
    color: #f7df1e;


}


#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}
#actor{
    margin: 1%;
    padding: 0%;
    width: 400px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 0;
}
#actor:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 1;
}
#movie {
    margin: 1%;
    padding: 0%;
    width: 30%;
    border: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 20px solid transparent;
    border-image: url('./src/border.jpg') 10%;
    z-index: 0;
}


#movie:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 1;
}

.movie-sections{
    text-align: center;
    color: #f9d342;
    margin-bottom: 5%;
}
#movie-backdrop{
    box-shadow: 0 4px 8px 0 antiquewhite,1px 6px 6px 0 rgba(0, 0, 0, 0.19);
}
#movie-actor{
    padding: 0%;
    width: 15%;
    margin: 1%;
    height: 250px;
    background-color: #f9d342;
    text-align: center;
    color: #2f2e2a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#movie-actor:hover{
    box-shadow: 0 4px 8px 0 #f9d342, 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#movie-actor img{
 height: 90%;
 width: 100%;
}

#prod-company img{
    height: 80%;
    width: 100%;
    background-color: antiquewhite;
}
#related-movie{
    padding: 0%;
    width: 15%;
    margin: 1%;
    height: 100%;
    color: #2f2e2a;
    background-color: #f9d342;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#related-movie:hover{

    box-shadow: 0 4px 8px 0 #f9d342, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#prod-company{
    padding: 0%;
    width: 15%;
    margin: 1%;
    height: 150px;
    color: #2f2e2a;
    background-color: #f9d342;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#movie-title{
    color: #f9d342;
}

.table-borderless{
    color: antiquewhite;
    text-align: left;
}
#desc {
    display: none;
}

.card-body:hover #desc {
    display: block;
}

.card-body {
    height: 10%;
    text-align: center;
    padding: 0%;
    border: 10px solid transparent;

    /* background-image: url('./src/film-border.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
}

img {
    width: 100%;
    position: relative;
    bottom: 0px;
    /* overflow: hidden; */
}

h3.card-title {
    margin: 0%;
}

.dropdown-menu {
    background-color: antiquewhite;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}
.dropdown-menu li:hover {
    cursor: pointer;
    background-color: #f9d342;
    margin: 10px;
    
}
.dropdown-item:hover{
    cursor: pointer;
    background-color: #f9d342;
    margin: 10px;
}

.btn-outline-success{
    color: #2f2e2a;
    border-color: #2f2e2a;
}
.btn-outline-success:hover{
    color: antiquewhite;
    background-color: #2f2e2a;
}

.about{
    color: antiquewhite;
    font-weight: bold;
}

.actor-page{
    color: antiquewhite;
}


footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 900px;
}

.navbar-brand .img-fluid {
    width: 100px;
    height: 100px;
}