body {
    background-color: #2F2E2A;
    color: #f7df1e;

}

.navbar,
footer {
    background-color: #f7df1e;
    color: #2F2E2A;
}

button.btn {
    background-color: #2F2E2A;
    color: #f7df1e;
}

form input.form-control {
    color: #f7df1e;


}


#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}

.card {
    padding: 0%;
    /* padding-top: 5px;
    padding-bottom: 8px; */

    width: 35%;
    border: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 20px solid transparent;
    border-image: url('./src/border.jpg') 10%;
    z-index: 0;


    /* border: 15px solid transparent; */
    /* border-image: url('./src/test-border.png') 20%; */

}

.card:hover {
    cursor: pointer;
    transform: scale(1.3);
    z-index: 1;


}

#desc {
    display: none;
}

.card-body:hover #desc {
    display: block;
}

.card-body {
    height: 10%;
    text-align: center;
    padding: 0%;
    border: 10px solid transparent;

    /* background-image: url('./src/film-border.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
}

img {
    width: 100%;
    position: relative;
    bottom: 0px;
    /* overflow: hidden; */
}

h3.card-title {
    margin: 0%;
}

.dropdown-menu {
    margin: 10px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 900px;
}

.navbar-brand .img-fluid {
    width: 100px;
    height: 100px;
}